p{
    background-color: blue;
}

h6{
    background-color: tomato;
}

#main{
    background-color: rgb(93, 31, 31);
}

.inner_main{
    background-color: chartreuse;
}

img{
    height: 300px;
    width: 250px;
}